@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    color: white;
}
header{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: rgb(255, 60, 0);
    color: white;
    font-size: 50px;
    border-bottom: 10px solid white;
}
#Sushi-logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: auto;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
#Sushi-logo:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.Header-buttons{
    margin-bottom: -86px;
    font-family: 'Fredoka One', cursive;
    font-size: large;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 60, 0);
    margin-right: 10px;
    border-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 10px solid white;
    border-bottom: none;
    padding: 10px;
}
.Header-buttons:hover{
    filter: brightness(50%);
}
.selected{
    background-color: black;
    border-bottom: none;
    padding-bottom: 20px;
    margin-bottom: -97px;
}
#Home-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}
#Home-image{
    border-radius: 10px;
    margin-right: 30px;
}
#Menu-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.tab-title{
    background-color: black;
    border: 5px solid white;
    color: rgb(255, 60, 0);
    padding: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 50px;
    margin: 20px;
    text-align: center;
}
.menu-images{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.menu-images:hover{
    border: 10px solid rgb(255, 60, 0);
}
.menu-images-container{
    width: 300px;
    text-align: center;
}
menu{
    display: flex;
    justify-content: space-between;
}
contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    padding: 50px;
}